@use "sass:map";

$startFrom: sp;

$mediaquerys: (
  sm: "screen",
  md: "screen",
  lg: "screen",
  xl: "screen",
);

@if $startFrom == sp {
  $breakpoints: (
    sm: 600,
    md: 768,
    lg: 1024,
    xl: 1440,
  );

  $mediaquerys: (
    sm: "(min-width: #{map.get($breakpoints, 'sm')}px)",
    md: "(min-width: #{map.get($breakpoints, 'md')}px)",
    lg: "(min-width: #{map.get($breakpoints, 'lg')}px)",
    xl: "(min-width: #{map.get($breakpoints, 'xl')}px)",
  );

} @else {
  $breakpoints: (
    xl: 1440,
    lg: 1023,
    md: 767,
    sm: 600,
  );
  $mediaquerys: (
    sm: "(max-width: #{map.get($breakpoints, 'sm')}px)",
    md: "(max-width: #{map.get($breakpoints, 'md')}px)",
    lg: "(max-width: #{map.get($breakpoints, 'lg')}px)",
    xl: "(min-width: #{map.get($breakpoints, 'xl')}px)",
  );

}

@mixin mq($mediaquery: md) {
  @media #{map.get($mediaquerys, $mediaquery)} {
    @content;
  }
}

@if $startFrom == sp {
  .u-desktop {
    display: none;
    @include mq("md") {
      display: block;
    }
  }

  .u-mobile {
    @include mq("md") {
      display: none;
    }
  }

  .u-desktop-inline {
    display: none;
    @include mq("md") {
      display: inline;
    }
  }

  .u-mobile-inline {
    display: inline;
    @include mq("md") {
      display: none;
    }
  }
} @else {
  .u-desktop {
    display: block;
    @include mq("md") {
      display: none;
    }
  }

  .u-mobile {
    display: none;
    @include mq("md") {
      display: block;
    }
  }

  .u-desktop-inline {
    display: inline;
    @include mq("md") {
      display: none;
    }
  }

  .u-mobile-inline {
    display: none;
    @include mq("md") {
      display: inline;
    }
  }
}
